.btn-s48 {
    background-color: #43519D;
    border-color: #43519D;
    color: white;
}

.btn-s48:active {
    background-color: #374281;
    border-color: #374281;
    color: white;
}

.btn-s48:hover {
    background-color: #374281;
    border-color: #374281;
    color: white;
}

.text-s48 {
    color: #43519D !important;
}